config ZMK_BEHAVIOR_MORSE
    bool
    default y
    depends on DT_HAS_ZMK_BEHAVIOR_MORSE_ENABLED

config ZMK_BEHAVIOR_CEASAR
    bool
    default y
    depends on DT_HAS_ZMK_BEHAVIOR_CEASAR_ENABLED

config ZMK_BEHAVIOR_NOISE
    bool
    default y
    depends on DT_HAS_ZMK_BEHAVIOR_NOISE_ENABLED

